body{
	section{
		&.contato{			
			.container{
				.row{
					margin: 4% 0;
					&.info{
						div{
							&:first-child{
								.wpcf7-form{
									p{
										color: $red;
										font-family: bebas;
										font-weight: bold;
										font-size: 14pt;
										margin-bottom: 0;
										span{
											width: 100%;
											input, textarea{
												width: 100%;
												padding: 1% 2%;
												border:1px solid $black;
												margin-bottom: 2%;
											}
										}
										.wpcf7-form-control.wpcf7-submit{
											background-color: $red;
											color: $white;
											border-color: $none;
											border-radius: 4px;
											padding: 0.5% 4%;
											font-family: bebas;
											cursor: pointer;
										}
									}
								}
							}
							&:last-child{
								.print{
									font-weight: bold;
									color: $black;
									font-weight: bebas;
									font-size: 15pt;

								}

								p{
									font-family: bebas;
									font-weight: 400;
									&.title{
										margin-bottom: 0;
										font-family: bebas;
										font-weight: bold;
										font-size: 12pt;
										i{
											color: $red;
											margin-right: 1%;
										}
									}
								}
							}
						}				
					}
				}
			}
		}
	}
}