body{
	footer{
		.bot{
			.topo{
				.row{
					div{
						&:first-child{
							background-color: #2d3541;
							&:after{
								background-image: url("../img/footer/bot.png");
							}
						}
						&:last-child{
							height: 65px;
							margin-top: 0;
							background-color: $blue;
						}
					}
				}				
			}
		}
		.topo{
			.row{
				div{
					padding: 0;				
					&:first-child{
						background-color: $blue;
						height: 65px;

						&:after{
							content: "";
							position: absolute;
							right: -11px;
							background-image: url("../img/footer/topo.png");
							background-repeat: no-repeat;
						    width: 11px;
						    height: 65px;
						    background-size: 100% 100%;
						    z-index: 99;
						}						
					}
					&:last-child{
						background-color: $red;
						height: 55px;
						margin-top: 10px;
					}						
				}			
			}
		}
		.footer{
			background-color: $blue;
			padding: 6% 0;
			color: $white;			
			.container{				
				.row{
					div{
						h3{
							font-size: 15pt;
						}						
						&:first-child{
							figure{
								margin-bottom: 10%;
								img{
									width: 94%;
								}
							}
							p{
								color: $white;
								margin-bottom: 6%;
							}
							.footer_sociais{
								i{
									margin-right: 8%;
									font-size: 14pt;
									cursor: pointer;
									color: $white;

									&.fa-facebook{
										&:hover{
											color: $face;
											transition: all 0.7s ease;
										}
									}
									&.fa-whatsapp{
										&:hover{
											color: $whats;
											transition: all 0.7s ease;
										}
									}									
								}
							}
						}
						&:nth-child(2){
							ul{
								margin-top: 8%;
								padding: 0;
								li{
									list-style: none;

									i{
										margin-right: 2%;
									}
									a{
										color: $white;
										text-decoration: none;
									}
								}
							}
						}
						&:nth-child(3){
							h3{
								margin-bottom: 8%;
								&.sem_margin_bottom{
									margin-bottom: 0;
								}
							}
							.social_page{
								margin-bottom: 8%;
							}
							.news{
								margin-top: 4%;

								label{
									width: 100%;
									background-color: $white;
									span{										
										padding: 0 0 0 1%;										
										&.wpcf7-form-control-wrap.email{
											float: left;
											width: 86%;
											padding: 3% 0 2% 0;
											input{
												width: 100%;
												border: none;
												padding-left: 4%;
												&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
												  color: #b09999;
												  font-family: bebas;
												  font-size: 11pt;
												}
												&::-moz-placeholder { /* Firefox 19+ */
												  color: #b09999;
												  font-family: bebas;
												  font-size: 11pt;
												}
												&:-ms-input-placeholder { /* IE 10+ */
												  color: #b09999;
												  font-family: bebas;
												  font-size: 11pt;
												}
												&:-moz-placeholder { /* Firefox 18- */
												  color: #b09999;
												  font-family: bebas;
												  font-size: 11pt;
												}
											}										
										}
										&.submit_news{
											width: 34px;
											height: 34px;
											float: right;
											position: relative;
											input{												
												color: $none;
												width: 34px;
												height: 34px;
												background-color: $red;
												border: none;
												padding: 0;
												cursor: pointer;

											}
											i{
												position: absolute;
												top: 11px;
												left: 16px;
												color: $white;
												cursor: pointer;
											}
										}
									}
								}
							}
						}
						&:nth-child(4){
							h4{
								font-size: 11pt;
								margin-top: 8%;
							}
							p{
								font-size: 10pt;
							}
							i{
								margin-right: 2%;
							}
						}
					}
				}
			}			
		}
		.bot{
			.topo{
				.row{
					div{
						&:first-child{
							padding: 23px 4%;
							color: $white;
							font-family: oswald;
							font-weight: 300;
							font-size: 9pt;

							&:after{
								top: 0;
							}
						}
						&:last-child{
							padding: 21px 14%;
							ul{
								li{									
									a{										
										color: $white;
										font-family: oswald;
										font-weight: 300;
										padding-right: 3px;

										&:hover{
											text-decoration: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}