body{
	padding-top: 118px;
	position: relative;
	.mobile{
		position: fixed;
		top: 118px;
		transform: translateX(-200%);
		transition: all 0.7s ease-in-out;
		z-index: 9999;
		width: 100%;
		height: 100%;
		background-color: $blue;
		@media(max-width: 992px){
			top: 135px;
		}
		@media(max-width: 768px){
			top: 127px;
		}			
		&.active{
			transform: translateX(0);
			transition: all 0.7s ease-in-out;
		}
		
		.row{
			&.menu{
				ul{
					width: 100%;
					li{
						border-bottom: 1px solid #bebebe;
						padding: 0 2%;
						&:last-child{
							border-bottom: none;
						}
						a{
							color: $white;
							width: 100%;

							i{
								margin-right: 0.5%;
							}
						}
					}
				}				
			}
		}
		@media(min-width: 1200px){
			display: none;
		}
	}	
	header{
		z-index: 9920;
		position: fixed;
		top: 0;
		width: 100%;
		min-height: 118px;
		max-height: 118px;
		section{
			&.topo{
				background-color: $blue;
				&:before{
					content: "";
					background-color: $red;
					width: 65%;
					height: 37px;
					position: absolute;
					top: 0;
					left: 0;
				}				
				.container{
					.row{
						div{
							&:first-child{
								background-color: $red;
								padding: 8px 0;
								color: $white;
								font-size: 11pt;

								i{
									margin-right: 1%;
									font-size: 11pt;
								}					

								&:after{
									content: "";
									width: 6px;
									height: 37px;
									position: absolute;
									top: 0;
									right: 0;
									background-image: url('../img/topo/separador-topo.png');
								}
							}
							&:last-child{
								background-color: $blue;								
								padding: 8px 0;

								span{
									i{
										float: right;
										color: $white;
										font-size: 12pt;
										margin-left: 8%;
										cursor: pointer;

										&.fa-facebook{
											&:hover{
												color: $skype;
												transition: all 0.7s ease;											
											}
										}
										&.fa-whatsapp{
											&:hover{
												color: $whats;
												transition: all 0.7s ease;
											}
										}
										&.fa-search{
											&:hover{
												color: $red;
												transition: all 0.7s ease;
											}
										}
										&.fa-skype{
											&:hover{
												color: $skype;
												transition: all 0.7s ease;
											}
										}
									}									
								}
								.search-box{
									position: absolute;
									right: 0;
									top: 2px;
									width: 98%;
									background-color: $blue;
									padding: 0 4%;

									i{
										color: $white;
										cursor: pointer;
										display: inline;

										&:hover{
											color: $red;
											transition: all 0.7s ease;
											}										

										&.search_close{
											position: absolute;
											right: 10px;
											top: 30%;
										}
									}

									button{
										background-color: $none;
										border: none;
										padding: 0;
										margin: 2% 0;
										margin-left: 2%;
									}									

									input{
										float: left;
										width: 86%;
										background-color: $none;
										border-color: $none;
										color: $white;

										&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
											color: $white;
										}
										&::-moz-placeholder { /* Firefox 19+ */
											color: $white;
										}
										&:-ms-input-placeholder { /* IE 10+ */
											color: $white;
										}
										&:-moz-placeholder { /* Firefox 18- */
											color: $white;
										}										
									}
								}
							}					
						}						
					}
				}
			}
			&.menu{
				padding: 1.5% 0;
				background-color: $white;				
				.container{
					.row{
						div{
							&:first-child{
								padding: 0;								
								figure{
									margin-bottom: 0;
									width: 76%;

									img{
										width: 100%;
									}									
								}
							}
							&:last-child{
								padding: 0;
								.hamburguer{
									float: right;
									span{
										background-color: $blue;
									}
								}

								ul{
									margin-top: 1%;
									@media(max-width: 1200px){
										display: none;
									}									
									li{
										a{
											color: $blue;
											font-size: 12pt;
											letter-spacing: 1px;
											&.active{
												color: $red;
												transition: all 0.7s ease;
											}
											&:hover{
												color: $red;
												opacity: 1;
												transition: all 0.7s ease;
											}
										}
									}
								}
							}
						}
					}
				}
			}			
		}
	}
	.whats_fixed{
		position: fixed;
		top: 50%;
		left: 0;
		z-index: 99;
		transform: translateX(-200%);
		background-color: $whats;
		color: $blue;
		padding: 0.7% 1% 0.7% 0;
		transition: all 0.7s ease-in-out;

		&.active{
			transform: translateX(0);
			transition: all 0.7s ease-in-out;
		}

		i{
			float: left;
			font-size: 14pt;
			padding: 0 4%;
			border-right: 1px solid $blue;
		}

		div{
			float: right;
			padding: 0 4%;
		}
	}	
}

/*Menu Hamburguer*/

#nav-icon2{
  width: 50px;
  height: 32px;
  margin: 1%;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 12px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 24px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 22px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 22px;
}