body{
	&.home{
		.custom_slider{
			z-index: 0 !important;
			.botao_banner_um{
				font-family: bebas;
				font-weight: normal;
				font-size: 45pt !important;
				color: $white;
				background-color: #1f2130;
				padding: 0 10% !important;
				border-radius: 8px;

				&:hover{
					opacity: 1;
					text-decoration: none;
				}
			}
		}
		.destaques_home{
			position: relative;
			margin-top: -30px;

			.modal{
				z-index: 9999;
				opacity: 1;
				background-color: rgba(0,0,0, .8);

				.modal-dialog{
				    top: 32%;
				    padding: 0 !important;
				    max-width: 540PX;
				    width: auto;

				    .modal-content{
				    	max-height: 712px;
				    	padding: 0 1% 5% 1% !important;

				    	.topo_modal{
				    		padding: 1% 0 0 0;
				    		i{
				    			float: right;
				    			cursor: pointer;
				    			font-size: 12pt;
				    			&:hover{
				    				color: $red;
				    				transition: all 0.7s ease;
				    			}
				    		}
				    	}
						.destaque_home_modal{
							display: none;
							padding: 0 !important;
							fingure{
								&:hover{
									img{
										transform: scale(0) !important;
									}
								}
								img{
									display: none;
								}								
							}
							&.active{
								display: block;
								img{
									width: 100%;							
									display: block;
								}
							}
						}				    	
				    }
				}
			}
			.bd{				
				z-index: 9899;
				position: absolute;
				top: 0;
				width: 100%;
				.container{
					.row{
						div{
							padding: 0 1.5%;
							&.modal-dialog{
								figure{
									&:hover{
										img{
											transform: none;
										}
									}
								}
							}
							&:nth-child(2){
								padding-left: 0;
								padding-right: 3%;
							}
							&:last-child{
								padding-right: 0;
								padding-left: 3%;
							}							
							figure{
								border: 8px solid $white;
								width: 100%;
								background-color: $white;
								overflow: hidden;
								margin-bottom: 0;
								border-bottom: none;
								figcaption{
									position: relative;
									.options{
										position: absolute;
										top: 0;
										width: 100%;
										height: 100%;
										opacity: 0;
										visibility: hidden;										

										i{
											position: absolute;
											top: 45%;
											color: $white;
											font-size: 30pt;
											cursor: pointer;
										}										
									}
									a{
										img{
											width: 100%;
											transition: all 0.7s ease;
										}
									}									
								}							
								
								&:hover{
									background-color: $none;
									figcaption{
										.options{
											visibility: visible;
											opacity: 1;
    										padding: 0 45%;
											transition: all 0.7s ease;
											z-index: 9999;
											background-color: rgba(204,102,102, .4);
										}
									}
									img{
										transform: scale(1.2);									
									}
								}
							}
							.info{
								padding: 4% 8%;
								margin: 0 8px;
								border: 1px solid #939598;
								min-height: 174px;
								h3{
									font-size: 15pt;
									margin-bottom: 4%;
								}
								p{
									font-size: 11pt;
									color: #818690;
								}
							}
						}
					}
				}				
			}
		}
		.destaque_corporativo{
			margin-top: 4%;
			background-color: $blue5;
			.row{
				div{					
					padding: 5% 0;
					h3{
						color: $blue;
						margin-bottom: 3%;
					}
					&:last-child{
						padding-left: 4%;
						text-align: justify;
					}
				}
			}
		}
		.gerenciar_custos{
			background-image: url(../img/destaques/home/gerenciar-e-controlar-custos.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			padding: 10% 0;
			.container{
				.row{
					text-align: center;
					h3,p{
						width: 100%;
						font-family: oswald;
						text-align: center;
						color: $white;
					}
					p{
						font-weight: 200;
						font-size: 16pt;
					}
					a{
						font-weight: 200;
						font-family: oswald;
						text-align: center;
						color: $white;
						height: 44px;
						font-size: 14pt;
						padding: 0.5% 2%;
						background-color: $red;
						margin: 0 auto;
						border-radius: 6px;

						&:hover{
							opacity: 1;
							text-decoration: none;
						}
					}
				}
			}
		}
		.projetos_mais_recentes{
			padding: 3% 0;
			.container{
				h3,p{
					width: 100%;
					text-align: center;
				}
				.align{
					margin-bottom: 4%;
				}
				.row{
					div{
						&:first-child{
							h3,p{
								text-align:left;
							}
							h3{
								margin-bottom: 4%;
							}
						}
						&:last-child{
							.row{
								div{
									&:first-child{
										padding: 0;
										figure{
											width: 100%;
											img{
												width: 100%;
												height: auto;
											}
										}										
									}
									&:last-child{
										padding-right: 0;
										p{
											text-align: left;
											margin-bottom: 0;

											&.leia-mais{
												margin-top: 3%;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}