*{
	font-family: bebas;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 10pt;

	a{
		&:hover{
			opacity: 0.7;
			transition: all 0.7s ease;
		}
	}

	p{
		font-family: oswald;
		letter-spacing: inherit;
		font-weight: 300;
		word-spacing: -1px;
	}
}

.solicitar_orcamento{
	background-color: $red;
	color: $white;
	font-family: oswald;
	font-weight: 300;
	padding: 1% 4%;
	border-radius: 4px;
	font-size: 12pt;
	text-transform: uppercase;
	float: right;
	margin-top: 4%;

	&:hover{
		color: $white;
		opacity: 1;
		text-decoration: none;
	}

}

.border_div{
	width: 50px;
	height: 1px;
	background-color: $red;
	margin: 15px 0;
}

		.gerenciar_custos{
			padding: 5% 0;
			.container{
				.row{
					text-align: center;
					h3,p{
						width: 100%;
						font-family: oswald;
						text-align: center;
						color: #000;
					}
					p{
						font-weight: 200;
						font-size: 16pt;
					}
					a{
						font-weight: 200;
						font-family: oswald;
						text-align: center;
						color: $white;
						height: 44px;
						font-size: 14pt;
						padding: 0.5% 2%;
						background-color: $red;
						margin: 0 auto;
						border-radius: 6px;

						&:hover{
							opacity: 1;
							text-decoration: none;
						}
					}
				}
			}
		}

.e_text{
	background-color: $red;
	color: $white;
	width: 35px;
	padding: 8px 0;
	margin-bottom: 0;
	text-align: center;
	float: left;margin-right: 10px;
}

.leia-mais{										
	background-color: $blue4;
	float: left;
	width: 120px !important;
	i{
		padding: 8% 9% 8% 11%;
		background-color: $blue3;
		color: $white;
		margin-right: 16%;
	}
	a{
		padding: 7% 0%;
		color: $white;
	}

	&:hover{
		background-color: rgba(85,85,85, 1);
		opacity: 0.8;											
		transition: all 0.7s ease;
		i{
			background-color: #4c4c4c;
			opacity: 1;
			transition: all 0.7s ease;
		}
		a{
			color: $white;
		}
	}
}

i{
	&.fa-facebook{
		&:hover{
			color: $skype;
			transition: all 0.7s ease;											
		}
	}
	&.fa-whatsapp{
		&:hover{
			color: $whats;
			transition: all 0.7s ease;
		}
	}
	&.fa-search{
		&:hover{
			color: $red;
			transition: all 0.7s ease;
		}
	}
	&.fa-skype{
		&:hover{
			color: $skype;
			transition: all 0.7s ease;
		}
	}	
}

.row{
	width: 100%;
	margin: 0 auto;
}