body{
	section{
		&.manutencao{
			.row{
				&:first-child{
					margin-bottom: 1.5%;
				}
				&:last-child{
					background-color: $blue5;
					padding: 4% 0;
					div{
						p{
							color: $black;
							font-weight: bold;
							font-size: 12pt;
						}	
					}
				}
			}
		}
		&.assistencia{
			.container{
				.row{
					h3{
						font-family: bebas;
						font-weight: bold;
						font-size: 20pt;
					}
				}
			}
		}
	}
}