body{
	&.internas{
		section{
			&.out_impressao{				
				.container{
					.row{
						div{
							font-family: oswald;
							font-weight: 300;							
							&:first-child{
								p{
									font-family: oswald;
									font-weight: 300;
								}
							}
							&:last-child{
								figure{
									width: 100%;
									img{
										width: 100%;
										height: auto;
									}
								}
							}
						}
					}
				}
			}
			&.beneficios{
				.container{
					.row{
						&:last-child{
							div{
								ul{
									padding-left: 0 !important;
									li{
										list-style: none;
										&:before{
											content: "";
											width: 8px;
											height: 8px;
											float: left;
											margin-right: 5px;
											margin-top: 4px;
											background-color: $red;
										}
										a{
											color: #000;
											font-family: oswald !important;
											font-weight: 300;
										}
									}
								}
							}
						}
					}
				}
			}
			&.marcas{
				margin: 2% 0;
				background-color: $blue5;
				padding: 4% 0;
				.container{
					.row{
						figure{
							width: 16%;
							margin: 0 2%;
							float: left;

							&:first-child{
								width: 7%;
							}
							img{
								width: 100%;
								height: auto;
							}
						}
					}
				}
			}
		}
	}
}