body{
	section{
		&.produtos{
			.container{
				.row{
					&.menu{
						margin-bottom: 3%;
						div{
							width: 46.1%;
							margin: 0 auto;
							@media(max-width: 1200px){
								width: 55%;
							}
							@media(max-width: 992px){
								width: 75%;
								margin-bottom: 1%;
							}

							@media(max-width: 768px){
								width: 90%;
							}

							@media(max-width: 556px){
								width: 100%;
							}

							li{
								list-style: none;
								display: inline;
								&.current-cat{
									a{
										background-color: $red;
									}
								}
								a{
									background-color: $blue;
									color: $white;
									padding: 2% 4%;
									border-radius: 4px;
									text-decoration: none;

									@media(max-width: 768px){
										padding: 2% 3%;
									}

									&:hover{
										background-color: $red;
										color: $white;
										transition: all 0.7s ease;
										opacity: 1;
									}
								}
							}
						}
					}
					&.cont{
						margin-bottom: 4%;
						div{
							background-color: $red;
							padding: 0 1%;
							.row{
								div{
									padding: 2%;
									&:nth-child(4), &:nth-child(8),&:nth-child(12), &:nth-child(16), &:nth-child(20), &:nth-child(24){
										padding-right: 0;
									}
									padding-left: 0;
									figure{
										margin-bottom: 0;
										img{
											width: 100%;
										}
									}
									.info{
										p{
											color: $white;
										}
										.link_produtos{
											padding: 3% 5%;
											border-radius: 4px;
											background-color: $blue;
											color: $white;
											text-decoration: none;

											&:hover{
												opacity: 1;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}