body{
	section{
		&.single{
			.container{
				.row{
					div{
						&:first-child{
							figure{
								img{
									width: 100%;
								}
							}
						}
						&:last-child{
							i{
								font-size: 15pt;
								color: $black;
								cursor: pointer;
								margin-right: 1%;

								&.fa-facebook{
									&:hover{
										color: $face;
										transition: all 0.7s ease;
									}
								}
								&.fa-whatsapp{
									&:hover{
										color: $whats;
										transition: all 0.7s ease;
									}
								}								
							}

						}
					}
					&.face_comments{
						margin-top: 4%;
						.fb-comments{
							width: 100%;
							span{
								width: 100% !important;
								ifram{
									width: 100% !important;
								}
							}
						}					
					}
				}
			}
		}
		&.recentes{
			margin-top: 4%;
			.container{
				.row{
					padding-top: 1%;
					div{
						figure{
							img{
								width: 100%;
							}
						}
						.info{
							h3{
								font-size: 15pt;
							}
							p{
								a{
									padding: 2% 4%;
									background-color: $blue;
									color: $white;
									text-decoration: none;
									border-radius: 4px;
									&:hover{
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}
		}		
	}
}