body{
	&.internas{
		.title_div{
			color: $red;
			font-family: bebas;
			font-weight: 600;			
		}
		section{
			&.bg_page{
				background-size: 100%;
				padding: 3% 0;
				margin-bottom: 3%;
				.container{
					.row{
						div{
							p, div{
								text-align: center;
							}
							p{
								color: $white;
								font: oswald;
								font-size: 15pt;
							}
							div{
								color: $white;
								span{
									color: $white;
									font-size: 9pt;
								}
								a{
									color: $white;
									font-size: 9pt;
								}
							}
						}
					}
				}	
			}
			&.title_page{
				margin-bottom: 1%;
				.container{
					.row{
						div{
							p{
								&.title{
									font-size: 16pt;
									font-family: bebas;
									font-weight: 400;
								}
							}
							div{
								a{
									color: $red;
								}
							}
						}
					}
				}
			}
			&.sobre_nos{				
				.container{
					.row{
						div{
							&:first-child{
								figure{
									width: 100%;
									img{
										width: 100%;
										height: auto;
									}
								}
							}
							&:last-child{
								font-weight: 300;
								font-family: oswald;
								h2{
									color: $red;
									font-family: bebas;
									font-weight: 600;
									margin-bottom: 0;
									line-height: 18px;
								}
							}
						}
					}
				}
			}
			&.sobre_desc{
				background-color: $blue5;
				margin: 4% 0;
				.container{
					.row{
						div{
							&:first-child{
								padding: 4% 0;
							}
							&:last-child{
								figure{
									width: 100%;
									img{
										width: 100%;
										height: auto;
									}
								}
							}
						}
					}
				}
			}
			&.caracteristicas_sobre{
				.container{
					.row{
						div{
							font-family: oswald;
							font-weight: 300;

							ul{
								li{
									list-style: none;
									a{
										font-family: oswald;
										font-weight: 300;
									}
								}
							}
						}
					}
				}
			}
			&.clientes_sobre{
				.container{
					.row{
						div{
							&:first-child{
								img{
									width: 31%;
									float: left;
									margin: 4% 1%;
									filter: grayscale(100%);

									&:hover{
										filter: grayscale(0);
										transition: all 0.7s ease;
									}
								}								
							}
							&:last-child{
								.texto{
									
								}
							}
						}
					}
				}
			}
		}
	}
}