// Colors
$default: #666;

$whats: #43d854;
$skype: #00aff0;
$face: #3b5998;
$blue: #1e73be;
$red: #cc6666;
$blue: #36414d;
$blue2: rgba(91,121,153,.4);
$blue3: #5e97b9;
$blue4: #65abcb;
$blue5: #e5f2fa;
$white: #fff;
$black: #3f3e40;
$none: transparent;

$oswald: 'Oswald', sans-serif;

@font-face {
     font-family: bebas;
     src: url('../fonts/BebasNeue-Light.otf');     
     font-weight: 300;
}

@font-face {
     font-family: bebas;
     src: url('../fonts/BebasNeue-Regular.otf');
     font-weight: normal;
}

@font-face {
     font-family: bebas;
     src: url('../fonts/BebasNeue-Bold.otf');
     font-weight: bold;
}