$purple: #673894;

body.login{
	#backtoblog,
	#nav{
		a {
			color: $purple;
			font-weight: bold;
			&:hover{
				color: #000;
				text-decoration: none;
			}
		}
	}
	div#login{
		h1{
			a{
				background: url("../img/logo-horizontal.png") no-repeat center top;
				height: 40px;
				width: 300px;
			}
		}
		h3{
			font-size: 18px;
			height: auto;
			margin: 0 0 20px;
			font-weight: bold;
		}
	}
}

#adminmenuwrap{
	&:before{
		background: url("../img/logo-icon.svg") no-repeat center #fff;
		background-size: 70%;
		content: " ";
		display: block;
		height: 150px;
		@media (max-width: 960px) {
			height: 40px;
		}
	}
}